*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#f5f5dc;
    --secondary-color:#f3e5ab;
}
body{
    font-family: "Open Sans", sans-serif;
    background-color: var(--primary-color);

}
.notes-container{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;

}
.note-card{
    width: 300px;
    height: 200px;
background-color: var(--secondary-color);
border-radius: 5px;
}
.note{
    /* display: flex; */
    position: relative;
    
}
.note:hover .bin{
    display: block;
}
.note textarea{
    width: 100%;
    height: 100%;
    resize: none;
    background-color: transparent;
    padding: 1em;
}

.bin{
    position:absolute;
    color: red;
    bottom: 1em;
    right: 1em;
    display: none;
}

.new-note{
display: flex;
flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.new-note:hover{
border: 2px dashed;
/* color: var(--secondary-color); */
background-color: var(--primary-color);
transform: translateY(-5px);
transition: all 0.5s ease;
}
.container{
    width: 80%;
    margin: 0 auto;
}

span:first-child{
    font-size: 2em;
    
}
